<section>
  <h1 class="mx-3">Editing student</h1>
  <%= render "form", student: @student %>
  <div>
    <%= link_to "Show this student", @student %> |
    <%= link_to "Back to students", students_path %>
  </div>
</section>
