<section class="m-4">
  <h1>My Students</h1>
  <article class="table-responsive-sm table-responsive-md">
    <table class="table" style="width: 40rem">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Course</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <% if student.user == current_user %>
            <tr id="students">
              <td><%= link_to student.first_name << " " << student.last_name, student %></td>
              <td><%= student.course %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </article>
  <%= link_to "New student", new_student_path, class:"btn btn-primary" %>
</section>
