<section class="m-4">
	<h1>About</h1>
	<p>This is a web application to manage students grade</p>
	<p>You can check it out my other projects on <a href="https://github.com/bragarr" target="_blank">GitHub - Reinaldo Braga</a></p>
	<h2>On this project</h2>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original-wordmark.svg"  width="150" height="200"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-plain-wordmark.svg" width="150" height="200"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" width="150" height="200"/>    
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original-wordmark.svg" width="150" height="200"/>  
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" width="150" height="200"/>   
</section>
